.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajusta el valor alpha para controlar la opacidad del fondo */
  backdrop-filter: blur(
    5px
  ); /* Ajusta el valor del desenfoque, si es necesario */
  z-index: 1000; /* Asegúrate de que la superposición esté por encima de otros elementos */
}

.back-approve {
  background-color: beige;
}

.back-normal {
  background-color: rgb(245, 240, 240);
}

.comprimed-chat {
  height: 300px;
  overflow: auto;
}
