.onHoverRow :hover {
  background: #e1e4e8;
}

.onClickedRow {
  border: 1px dashed #000000 !important;
  background: #e1e4e8;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.not-found-content {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
 
}
